.stApp > header {
    background-color: transparent;
}

.stApp {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    animation: gradient 15s ease infinite;

    background-attachment: fixed;
}


/* Change the sidebar color*/
[data-testid=stSidebar] {
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  }

.st-emotion-cache-16txtl3 {
    padding: 0rem 0.2rem;
}
  

[data-testid=stSidebarContent]{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
}
  













